*{
    padding: 0px;
    margin: 0px;
}

.header{
    display: block;
    height: 600px;
    background-color: rgba(248, 250, 250, 0.856);
    top: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 20px;
    box-shadow: 0px -10px 20px 10px black;
    /* position: fixed; */

  }

.list-space{
    width: 350px;
    float: right;
    display:flex;
    align-items: center;
    height: 30 px;
}

.navig{
    color: rgba(255, 255, 255, 0.653);
    text-decoration: none;
}
.headertop{
    font-family: monaco;
    font-size: 40px;
    width: 400px;
    padding: 10px;
    float: left;
    
}
.cl-1{
    height: 30px;
    width: 100px;
    background: linear-gradient(to right bottom, #d0dac500, #a5bea800, #78a29100, #48877d00, #006b7100);
    border: none;
    border-radius: 30px;
    margin: 20px;
    font-size: 18px;
    

}
nav{
    height: 250px;
}
.intro{
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 20px;
    padding: 10px 0px 0px 10px;
    float: left;
    height: 200px;
}

.headeragain{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}
.descrip{
    height: 200px;
    width: 500px;
    padding-left: 20px;
}

.textabtdescrip{
    font-family: Monaco;
    font-size: 18px;
    font-style: normal;
}

.firstsection{
    margin: 50px 2px;
    height: auto;
}
.offer{
    background: rgba(192, 180, 180, 0.278);
    padding: 15px 10px;
    margin-top: -10px;
}

.offerheader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    margin: 10px 30px;
    color: #cac703;
    /* text-decoration: #cac703 underline; */
}

.offerdescrip{
    font-family: monaco;
    font-size: 16px;
    margin:0px 10px 10px 40px;
}
.buttonoffer{
    height: 40px;
    width: 150px;
    background: white;
    border: 2px solid #cac703;
    border-radius: 30px;
    margin: 20px 100px;
    font-size: 20px;
    color: #cac703
}

.buttonoffer :hover(){
    border: 2px solid rgb(184, 161, 161);
}

.secondsession{
    margin: 50px 2px 10px 2px;
}
footer{
    background: rgb(0, 0, 0);
    height: 300px;
}
.footerpart{
    background: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.68);
    padding: 20px 10px;
}

.contact{
    font-family: monaco;
    font-size: 16px;
}