* {
  margin: 0px;
  padding: 0px;
}
.body-in {
  /* display: grid;
    grid-template: repeat(3, 300px)/ repeat(3, 300px);
    grid-gap: 10px 10px;
    grid-template-areas: "header header header",
                          "advert section advert"
                          "footer footer footer"; */
  background: rgba(11, 15, 12, 0.781);
  color: #fff;
  height: 537px;
  padding-top: 100px;
}
.main-in {
  height: 300px;
  width: 300px;
  padding: 20px 0px 0px 90px;
  margin: 0px 0px 0px 480px;
  background: rgba(42, 54, 45, 0.781);
  box-shadow: 3px 3px 5px black;
}
.nav-in {
  padding-left: 30px;
  margin-bottom: 5px;
}
.h1-in {
  padding-bottom: 10px;
  width: 150px;
  border-bottom: 2px solid white;
}
.section-in {
  margin: 30px 0px 0px 0px;
}
input:focus {
  outline: none !important;
}
.input-in {
  display: block;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

#surname {
  width: 200px;
  height: 25px;
  text-align: center;
  color: black;
}
#password {
  width: 200px;
  height: 25px;
  text-align: center;
  color: black;
}

#submit-id {
  margin: 10px 0px 0px 70px;
  width: 70px;
  height: 30px;
  background-color: rgba(11, 15, 12, 0.781);
  border-radius: 50px;
  border: 2px solid rgb(168, 168, 158);
  color: rgb(168, 168, 158);
  font-size: 16px;
}
